<template>
    <div class="message" :class="type" v-if="show">
        <p>{{ message }}</p>
        <i class="fas fa-times" v-on:click="show = !show"></i>
    </div>
</template>

<script>
    export default {
        name: "MessageNotification",
        props: {
            message: {
                type: String,
                required: true,
            },
            type: {
                type: String,
                default: "",
            }
        },
        data: function(){
            return {
                show: true
            };
        }
    }
</script>

<style scoped>

</style>