<template>
    <div class="product">
        <div class="product-info" v-show="!show">
            <div class="product-name" v-on:click="show = !show">{{ new_name }}</div>
            <div class="product-created">{{ created }}</div>
            <div class="product-updated">{{ updated }}</div>
            <div class="product-action">
                <button><i class="fas fa-pen" v-on:click="show = !show"></i></button>
                <a :href="'/admin/product/delete/'+id"><button><i class="fas fa-trash" ></i></button></a>
            </div>
        </div>
        <div class="editor" v-show="show">
            <form class="edit-product-form" method="get" :action="'/admin/product/update/'+id">
                <div class="form-group">
                    <label for="name" required>Tên sản phẩm</label>
                    <input type="text" name="name" required v-model="new_name">
                </div>
                <div class="form-group">
                    <label for="description" required>Mô tả</label>
                    <textarea name="description" v-model="new_description" cols="40" rows="5" required></textarea>
                </div>
                <div class="form-group">
                    <button>Cập nhật</button>
                    <button type="button" v-on:click="resetData(true)">Hủy</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductEditor",
        props: {
            id: {
                type: Number,
                default: 0,
            },
            name: {
                type: String,
                default: "",
            },
            description: {
                type: String,
                default: "",
            },
            created: {
                type: String,
                default: "",
            },
            updated: {
                type: String,
                default: "",
            }
        },
        data: function() {
            return {
                show: false,
                new_name: "",
                new_description: "",
            };
        },
        created: function(){
            this.resetData();
        },
        methods: {
            resetData: function (toggleShow = false) {
                this.new_name = this.name;
                this.new_description = this.description;
                if (toggleShow) this.show = !this.show;
            }
        }
    }
</script>

<style scoped>

</style>