@import "variables";
@import "fonts";
body {
  display: flex;
  min-height: 100vh;
  @media screen and (min-width: 1200px){
    align-items: stretch;
  }
  header {
    background-color: $theme-color;
    color: white;
    @media screen and (min-width: 1200px){
      flex-basis: 350px;
    }
    .logo {
      display: none;
      margin-bottom: 20px;
      @media screen and (min-width: 768px){
        padding: 15px;
      }
      img {
        max-width: 100%;
      }
    }
  }
  main {
    flex-grow: 1;
    padding: 10px
  }
}

ul.menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  &.menu-bottom::before {
    content: "";
    display: block;
    width: 75%;
    border-top: 2px solid white;
    margin: auto;
  }
  li {
    font-size: 20px;
    font-weight: 500;
    &:hover {
      background-color: #32a232;
    }
    i.fas {
      @media screen and (min-width: 992px) {
        min-width: 30px;
      }
    }
    .menu-text {
      display: none;
      @media screen and (min-width: 992px) {
        display: initial;
      }
    }
  }
  a {
    display: block;
    padding: 10px 15px;
    @media screen and (min-width: 992px){
      padding: 5px 25px;
    }
  }
  a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
  }
}

section {
  margin-bottom: 20px;
}
input, textarea {
  max-width: 100%;
}

// Message section
section#message {
  .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #589a53;
    border: 1px solid black;
    border-radius: 2px;
    color: white;
    margin-bottom: 5px;
    &.error {
      background-color: #b54c4c;
    }
    p {
      margin-bottom: 0;
    }
  }
}

// Login page
.login-page {
  background-color: $theme-color;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  .logo {
    display: block;
    img {
      max-width: 50%;
      @media screen and (min-width: 1200px) {
        max-width: 500px;
      }
    }
  }
  .form-group {
    margin-bottom: 15px;
    span {
      display: block;
    }
    label {
      font-weight: bold;
    }
    input {
      display: initial;
    }
    .form-check-label {
      display: inline;
    }
  }
}

// Product page
.product-manage {
  form {
    .form-group {
      margin-bottom: 10px;
      label {
        display: block;
        &[required]::after {
          content: " (*)";
        }
        @media screen and (min-width: 768px) {
          display: inline-block;
          vertical-align: top;
          width: 120px;
        }
      }
      input, textarea {
        display: block;
        @media screen and (min-width: 768px) {
          display: initial;
        }
      }
    }
    button:first-child {
      @media screen and (min-width: 768px) {
        margin-left: 120px;
      }
    }
  }
  .product-info {
    display: grid;
    border-bottom: 1px solid black;
    padding: 0 5px;
    grid-template-columns: 1fr 2fr 2fr;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 2fr 2fr 2fr;
    }
    &.title {
      font-weight: bold;
    }
    > * {
      margin: 5px 0;
    }
    .product-created {
      display: none;
      @media screen and (min-width: 768px) {
        display: initial;
      }
    }
  }
  .product .editor {
    border-bottom: 1px solid black;
  }
}

//User page
.user-manage {
  .form-group {
    margin-bottom: 5px;
    label {
      margin-bottom: 0;
    }
  }
  .users {
    .user-title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
      border-bottom: 1px solid black;
      column-gap: 10px;
      @media screen and (min-width: 768px){
        grid-template-columns: 1fr 1fr 2fr;
      }
      @media screen and (min-width: 992px){
        grid-template-columns: 1fr 1fr 1fr 2fr;
      }
      .role {
        display: none;
        @media screen and (min-width: 768px){
          display: block;
        }
      }
      .user-info {
        @media screen and (min-width: 992px){
          grid-column-end: span 2;
        }
      }
    }
    .user {
      display: grid;
      grid-template-areas: "name action"
      "email action";
      border-bottom: 1px solid black;
      grid-template-columns: repeat(2, calc(50% - 10px));
      column-gap: 10px;
      @media screen and (min-width: 768px){
        grid-template-areas: "name role action"
        "email email action";
        grid-template-columns: 1fr 1fr 2fr;
      }
      @media screen and (min-width: 992px){
        grid-template-areas: "name email role action";
        grid-template-columns: 1fr 1fr 1fr 2fr;
      }
      .name {
        grid-area: name;
      }
      .role {
        grid-area: role;
        display: none;
        @media screen and (min-width: 768px){
          display: block;
        }
      }
      .email {
        grid-area: email;
        word-break: break-word;
      }
      .action {
        grid-area: action;
      }
    }
  }
}

//Role page
#form-add-role {
  label {
    font-weight: bold;
  }
  span.capability-select {
    margin-right: 20px;
  }
}
#form-edit-role {
  > * {
    display: grid;
    grid-template-columns: 2fr repeat(#{$no-capabilities}, 1fr) 2fr;
    > * {
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }
  }
  .form-heading > *, .role > * {
    padding: 5px;
  }
  .form-heading {
    grid-template-rows: 1fr 1fr;
    border-top: 1px solid black;
    font-weight: bold;
    .role-name, .role-action {
      grid-row: auto / span 2;
    }
    .role-capabilities {
      grid-column: auto / span $no-capabilities;
      text-align: center;
    }
  }
  .role-name {
    border-left: 1px solid black;
  }
  .role-capability {
    text-align: center;
  }

}
.admin-manager .admin-list {
  display: inline-block;
  > * {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    padding: 10px 0;
    border-bottom: 1px solid black;
    > * {
      padding-right: 20px;
    }
  }
  .form-heading {
    font-weight: bold;

  }
}
.statistic {
  .old-value {
    font-size: 20px;
  }
  .new-value {
    font-size: 40px;
    color: $theme-color;
  }
}
#numbering .card {
  text-align: center;
  .card-header, .card-body {
    padding: 5px;
  }
}