@import "variables";
@import "fonts";

body {
  margin-bottom: #{$menu-height + 10px};
}
header {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  @media screen and (min-width: 1200px){
    position: initial;
    display: flex;
    margin-bottom: 20px;
  }
  .logo {
    display: none;
    @media screen and (min-width: 1200px){
      display: block;
      img {
        max-height: 80px;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background-color: $theme-color;
    @media screen and (min-width: 1200px){
      background-color: initial;
    }
    ul.menu {
      width: 100%;
      padding-left: 0;
      display: flex;
      padding-right: 0;
      margin-bottom: 0;
      height: $menu-height;
      @media screen and (min-width: 1200px){
        padding-left: 40px;
        height: initial;
        width: auto;
      }
      li {
        display: inline-flex;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        &.current {
          background-color: white;
          a {
            color: $theme-color;
          }
        }
        @media screen and (min-width: 1200px){
          display: inline-block;
          &.current {
            background-color: unset;
          }
          &:not(:last-child) {
            padding-right: 20px;
          }
        }
        a {
          color: white;
          @media screen and (min-width: 1200px){
            color: black;
          }
        }
      }
      .menu-text {
        display: none;
      }
      @media screen and (min-width: 1200px){
        .menu-icon {
          display: none;
        }
        .menu-text {
          display: inline;
        }
      }
    }
  }
}

.grid-table {
  display: grid;
  border-top: 1px solid black;
  border-left: 1px solid black;
  > * {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0 5px;
  }
  .title {
    font-weight: bold;
    text-align: center;
  }
}
h1 {
  font-size: 25px;
  text-align: center;
  @media screen and (min-width: 768px){
    font-size: 36px;
    text-align: initial;
  }
}

#notification-response {
  position: fixed;
  bottom: 70px;
  color: white;
  width: 100%;
  display: none;
  pointer-events: none;
  #notification-message {
    width: max-content;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 20px;
    border-radius: 100px;
    margin: auto;
  }
}

button.wish-action {
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid black;
  cursor: pointer;
  &.postpone {
    background-color: #f3ea4e;
  }
  &.continue {
    background-color: $theme-color;
  }
  &.abort {
    background-color: red;
    color: white;
  }
  &.bullseye {
    background-color: #3077f3;
    color: white;
  }
}

.subscribe-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: 600;
  background-color: #268226;
  color: white;
  margin-bottom: 15px;
  align-items: center;
  @media screen and (min-width: 1200px){
    justify-content: unset;
  }
  .subscribe-text {
    padding-right: 10px;
  }
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.7);
  #loading-icon {
    margin: auto;
    max-width: 100px;
  }
}

.wish-progress-bar {
  position: relative;
  .progress-bar {
    display: block;
    position: absolute;
    height: 100%;
    background-color: #268226;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &.disable .progress-bar {
    background-color: black;
  }
}
.extend-checkbox {
  cursor: pointer;
}