<template>
    <div class="account-container">
        <login-form v-if="this.status == -1"></login-form>
        <div class="profile-container" v-if="this.status == 1">
            <a href="#" v-on:click="logout($event)">Log out</a>
            <wish-history></wish-history>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Account",
        data: function () {
            return {
                status: 0,
            };
        },
        created: function() {
            let cookie = getCookiesAsJson();
            let currentTime = new Date().getTime();
            if (cookie.hasOwnProperty('access_token')) {
                this.status = 1;
            } else {
                this.status = -1;
            }
        },
        methods: {
            logout: function($event) {
                $event.preventDefault();
                let self = this;
                axios.post(`${window.location.origin}/api/logout`, {}, {
                    headers: {
                        Authorization: `Bearer ${getCookiesAsJson().access_token}`
                    }
                }).then((response) => {
                    location.reload();
                }).catch((err) => {
                    window.deleteCookie("access_token");
                    this.status = -1;
                });
            }
        }
    }
</script>

<style scoped>

@media screen and (min-width: 1200px){
    .account-container {
        width: 80%;
        margin: auto;
    }
}
</style>