<template>
    <div class="login-container container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Đăng nhập</div>
                    <div class="card-body">
                        <form id="login-form" method="post" v-on:submit="requestLogin($event)">
                            <div class="auth-error">{{ this.errors }}</div>
                            <div class="form-group row">
                                <label class="col-md-4 col-5 col-form-label text-md-right" for="name">Email</label>
                                <div class="col-md-6 col-7">
                                    <input type="email" name="email" v-model="email.value"/>
                                    <div class="field-error" v-html="this.email.error"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-5 col-form-label text-md-right" for="password">Password</label>
                                <div class="col-md-6 col-7">
                                    <input type="password" name="password" v-model="password.value"/>
                                    <div class="field-error" v-html="this.password.error"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-show="isWeb">
                                <label class="col-md-4 col-5 col-form-label text-md-right" for="remember_me">Remember me</label>
                                <div class="col-md-6 col-7">
                                    <input type="checkbox" name="remember_me" v-model="remember_me"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 col-7 offset-md-4 offset-5">
                                    <button>Đăng nhập</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    Chưa có tài khoản? <a href="/register">Đăng ký ngay</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoginForm",
        data: function() {
            return {
                email: {
                    value: "",
                    error: "",
                },
                password: {
                    value: "",
                    error: "",
                },
                remember_me: true,
                errors: "",
                isWeb: true,
            };
        },
        created: function() {
            if (window.matchMedia('(display-mode: standalone)').matches) {
                this.isWeb = false;
            }
        },
        methods: {
            requestLogin: function(event){
                event.preventDefault();
                let self = this;
                window.loadingScreen();
                axios.post(`${window.location.origin}/api/login`, {
                    email: self.email.value,
                    password: self.password.value,
                    remember_me: +self.remember_me
                }).then((response) => {
                    location.reload();
                }).catch((error) => {
                    window.loadingScreen(false);
                    switch (error.response.status) {
                        case 422:
                            let errors = error.response.data.errors;
                            if (errors.hasOwnProperty("email")) {
                                self.email.error = errors.email.reduce((acc, err) => acc + `<p>${err}</p>`, "");
                            }
                        default:
                            self.errors = error.response.data.message;
                    }
                    console.log(error.response);
                });
            }
        }
    }
</script>

<style scoped>

</style>