<template>
    <div class="product-container">
        <wish-table wish-type="buy" :wish-data="wishes.buy" from-parent></wish-table>
        <wish-table wish-type="sell" :wish-data="wishes.sell" from-parent></wish-table>
        <div class="product-content">
            <h1 class="title product-title">{{product.name}}</h1>
            <div class="price-table">
                <p class="product-price"><span class="title">Giá trung bình:</span> {{product.price}} {{ currency }}</p>
                <p class="product-price"><span class="title">Thay đổi:</span> {{product.deviation}} {{ currency }}</p>
                <p class="product-price"><span class="title">Giá cao nhất:</span> {{product.max_price}} {{ currency }}</p>
                <p class="product-price"><span class="title">Giá thấp nhất:</span> {{product.min_price}} {{ currency }}</p>
            </div>
            <div class="product-description" v-html="product.description"></div>
            <GChart
                    type="LineChart"
                    :data="chart.data"
                    :options="chart.options"
            />
        </div>
        <template v-if="isLoggedIn">
            <div class="new-buy-wish">
                <p class="form-title">Đặt nguyện vọng mua</p>
                <form method="post" v-on:submit="sendAddWish($event)">
                    <input type="hidden" name="product_id" v-bind:value="product.id"/>
                    <input type="hidden" name="type" value="buy"/>

                    <label for="price">Giá [{{ Math.floor(product.price * 0.9) }} - {{ Math.floor(product.price * 1.1) }}]:</label>
                    <span>
                        <input type="number" step="100" name="price"
                               v-model="newWish.buy.price"
                               required
                        /> {{ currency }}
                    </span>

                    <label for="quantity">Số lượng:</label>
                    <span><input type="number" name="quantity" v-model="newWish.buy.quantity" required/>
                        x{{ quantityMutiples }} = {{quantityMutiples * newWish.buy.quantity}} {{product.unit}}</span>

                    <label>Tổng cộng: </label>
                    <span>
                        {{ thousandSeparate(quantityMutiples * newWish.buy.quantity * newWish.buy.price)}} {{currency}}
                    </span>

                    <label for="allow_split">Tự động chia nhỏ: </label>
                    <input type="checkbox" name="allow_split" value="1"/>

                    <button>Đăng ký</button>
                </form>
            </div>
            <div class="new-sell-wish">
                <p class="form-title">Đặt nguyện vọng bán</p>
                <form method="post"  v-on:submit="sendAddWish($event)">
                    <input type="hidden" name="product_id" v-bind:value="product.id" required/>
                    <input type="hidden" name="type" value="sell" required/>

                    <label for="price">Giá [{{ Math.floor(product.price * 0.9) }} - {{ Math.floor(product.price * 1.1) }}]:</label>
                    <span>
                        <input type="number" step="100" name="price"
                               v-model="newWish.sell.price"
                               required
                        /> {{ currency }}
                    </span>

                    <label for="quantity">Số lượng:</label>
                    <span><input type="number" name="quantity" v-model="newWish.sell.quantity" required/>
                        x{{ quantityMutiples }} = {{quantityMutiples * newWish.sell.quantity}} {{product.unit}}</span>

                    <label>Tổng cộng: </label>
                    <span>
                        {{ thousandSeparate(quantityMutiples * newWish.sell.quantity * newWish.sell.price) }} {{currency}}
                    </span>

                    <label for="allow_split">Tự động chia nhỏ: </label>
                    <input type="checkbox" name="allow_split" value="1"/>

                    <button>Đăng ký</button>
                </form>
            </div>
        </template>
    </div>
</template>

<script>
    import { GChart } from 'vue-google-charts';
    export default {
        components: {
            GChart
        },
        name: "ProductContent",
        data: function(){
            return {
                product: {
                    id: null,
                    name: "Loading",
                    price: "",
                    description: ""
                },
                wishes: {
                    buy: [],
                    sell: []
                },
                isLoggedIn: false,
                currency: "",
                priceAmplitude: 0,
                quantityMutiples: 1,
                newWish: {
                    buy: {
                        price: 0,
                        quantity: 1
                    },
                    sell: {
                        price: 0,
                        quantity: 1
                    },
                },
                chart: {
                    data: [],
                    options: {
                        title: "Lịch sử giá",
                        height: 300,
                        legend: {
                            position: "bottom"
                        },
                    }
                }
            };
        },
        created: function () {
            let cookie = getCookiesAsJson();
            if (cookie.hasOwnProperty("access_token")) {
                this.isLoggedIn = true;
            }
            window.loadingScreen();
            this.fetchData();
            window.loadingScreen(false);
        },
        methods: {
            sendAddWish: function (event) {
                event.preventDefault();
                window.loadingScreen();
                let self = this;
                let cookie = getCookiesAsJson();
                let input = jQuery(event.target).serializeArray();
                let data = {};
                input.forEach((item) => {
                    data[item.name] = item.value;
                });
                axios.post(`${window.location.origin}/api/add-wish-list`, data, {
                    headers: {
                        Authorization: `Bearer ${cookie.access_token}`,
                    }
                }).then((response) => {
                    event.target.reset();
                    self.fetchData(true);
                    window.loadingScreen(false);
                    window.popNotification(response.data.message);
                }).catch((err) => {
                    window.loadingScreen(false);
                    switch (err.response.status) {
                        case 401:
                            window.popNotification("Lỗi thông tin định danh, vui lòng đăng nhập lại.");
                            break;
                        default:
                            window.popNotification(err.response.data.message);
                    }
                });

            },
            fetchData: function(wishOnly = false) {
                let self = this;
                let productId = window.location.pathname.split('/')[2];
                let url = `${window.location.origin}/api/product/${productId}`;
                axios.get(url).then((response) => {
                    switch (response.status) {
                        case 200:
                            let data = response.data.data;
                            self.wishes = data.wishes;
                            if (wishOnly) break;
                            self.currency = data.currency;
                            self.priceAmplitude = data.priceAmplitude;
                            self.product = data.product;
                            self.quantityMutiples = data.quantityMultiples;
                            self.newWish.buy.price = data.product.price;
                            self.chart.data = data.chart;
                            break;
                        case 204:
                            self.product.name = "Không tìm thấy dữ liệu";
                            break;
                        default:
                            self.product.name = "Truy xuất dữ liệu thất bại";
                    }
                }).catch((err) => {
                    if (err.response === undefined) {
                        window.popNotification("Lỗi kết nối mạng.");
                        return;
                    }
                    switch (err.response.status) {
                        case 404:
                            window.popNotification("Không tìm thấy sản phẩm.");
                            self.product.name = "Không tìm thấy sản phẩm.";
                            break;
                        default:
                            caches.match(url).then(function (response) {
                                window.popNotification("Không thể cập nhật thông tin sản phẩm.");
                                if (response) {
                                    response.json().then(function (json) {
                                        let data = json.data;
                                        self.product = data.product;
                                        self.wishes = data.wishes;
                                        self.chart.data = data.chart;
                                    });
                                }
                            }).catch((err) => {
                                window.popNotification("Đã xảy ra lỗi. Vui lòng thử lại sau.");
                            });
                    }
                });
            },
            thousandSeparate: function(number) {
                if (typeof(number) == "number" ) number = number.toString();
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
        }
    }
</script>

<style scoped>
    .product-container {
        display: grid;
        grid-template-areas:
            "product-content"
            "new-buy-wish"
            "buy-wish"
            "new-sell-wish"
            "sell-wish";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 0 5px;
    }
    @media screen and (min-width: 1200px) {
        .product-container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                    "buy-wish product-content product-content sell-wish"
                    "buy-wish new-buy-wish new-sell-wish sell-wish";
        }
    }
    .product-content {
        grid-area: product-content;
    }
    .price-table {
        display: grid;
        grid-template-columns: 1fr;
    }
    .price-table .title {
        font-weight: bold;
    }
    form input[type="number"] {
        width: 100px;
    }
    .wish-table.buy {
        grid-area: buy-wish;
    }
    .wish-table.sell {
        grid-area: sell-wish;
    }
    .new-buy-wish {
        grid-area: new-buy-wish;
    }
    .new-sell-wish {
        grid-area: new-sell-wish;
    }
    .form-title {
        font-size: 23px;
    }
    form {
        display: inline-grid;
        grid-gap: 10px;
        grid-template-columns: 2fr 3fr ;
    }
    form label {
        font-weight: bold;
    }

    #price-chart {
        overflow: hidden;
        max-width: 90%;
        margin: auto;
    }
    @media screen and (min-width: 768px){
        .price-table {
            grid-template-columns: 1fr 1fr;
        }
        form {
            grid-template-columns: auto auto ;
        }
    }
</style>