<template>
    <div class="product-table-container">
        <h1>Thông tin sản phẩm</h1>
        <div class="display-option">
            <span class="extend-checkbox">
                <input type="checkbox" v-model="showSplit" />
                <label>Chỉ hiển thị nguyện vọng có thể chia nhỏ</label>
            </span>
            <span class="extend-checkbox">
                <input type="checkbox" v-model="showFavorites" />
                <label>Chỉ hiển thị sản phẩm quan tâm</label>
            </span>
        </div>
        <div>
            <strong>Cập nhật: </strong><em>{{ timestamp }}</em> <i class="fas fa-sync" v-on:click="fetchData()"></i>
        </div>
        <div class="grid-table product-table">
            <div class="product">
                <div class="product-name title">Tên sản phẩm</div>
                <div class="reference-price title">Giá tham khảo</div>
                <div class="highest-price title">Giá cao nhất</div>
                <div class="lowest-price title">Giá thấp nhất</div>
                <div class="buy-prices title">Mua</div>
                <div class="matched-prices title">Khớp lệnh</div>
                <div class="sell-prices title">Bán</div>
                <div class="buy-price-3 title">M3 ({{ currency}})</div>
                <div class="quantity-buy-price-3 title">KL3</div>
                <div class="buy-price-2 title">M2 ({{ currency}})</div>
                <div class="quantity-buy-price-2 title">KL2</div>
                <div class="buy-price-1 title">M1 ({{ currency}})</div>
                <div class="quantity-buy-price-1 title">KL1</div>
                <div class="matched-price title">Giá</div>
                <div class="quantity-matched-price title">KL</div>
                <div class="sell-price-1 title">B1 ({{ currency}})</div>
                <div class="quantity-sell-price-1 title">KL1</div>
                <div class="sell-price-2 title">B2 ({{ currency}})</div>
                <div class="quantity-sell-price-2 title">KL2</div>
                <div class="sell-price-3 title">B3 ({{ currency}})</div>
                <div class="quantity-sell-price-3 title">KL3</div>
            </div>
            <template v-for="product in this.products">
                <div class="product" v-if="!showFavorites || favorites.indexOf(product.id) > -1">
                    <div class="product-name">
                        <i class="fa-star"
                           :class="{
                           fas: favorites.indexOf(product.id) > -1,
                           far: favorites.indexOf(product.id) < 0
                           }"
                           v-on:click="toggleFavorite(product.id)"></i>
                        <a v-bind:href="`/product/${product.id}`">{{ product.name }} ({{ product.unit }})</a>
                    </div>
                    <div class="reference-price med">{{product.reference}}</div>
                    <div class="highest-price high">{{product.highest}}</div>
                    <div class="lowest-price low">{{product.lowest}}</div>

                    <template v-for="(item, index) in forgeWishList(product.buy_wishlist, true)">
                        <div :class="generateClass(index, 'buy-price', true)">
                            <span :class="generateColor(item.price, product.reference)">
                                  {{item.price}}
                            </span>
                        </div>
                        <div :class="generateClass(index, 'quantity-buy-price', true)">
                            <span :class="generateColor(item.price, product.reference)">
                                <template v-if="item.hasOwnProperty('allow_split')  && !item.allow_split">
                                    ({{item.quantity}})
                                </template>
                                <template v-else>
                                    {{item.quantity}}
                                </template>
                            </span>
                        </div>
                    </template>

                    <template v-if="product.matched !== null">
                        <div class="matched-price" :class="generateColor(product.matched.price, product.reference)">
                            {{product.matched.price}}
                        </div>
                        <div class="quantity-matched-price" :class="generateColor(product.matched.price, product.reference)">{{product.matched.quantity}}</div>
                    </template>
                    <template v-else>
                        <div class="matched-price"></div>
                        <div class="quantity-matched-price"></div>
                    </template>

                    <template v-for="(item, index) in forgeWishList(product.sell_wishlist)">
                    <div :class="generateClass(index, 'sell-price')">
                        <span :class="generateColor(item.price, product.reference)">
                            {{item.price}}
                        </span>
                    </div>
                    <div :class="generateClass(index, 'quantity-sell-price')">
                        <span :class="generateColor(item.price, product.reference)">
                            <template v-if="item.hasOwnProperty('allow_split')  && !item.allow_split">
                                    ({{item.quantity}})
                            </template>
                            <template v-else>
                                {{item.quantity}}
                            </template>
                        </span>
                    </div>
                </template>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductTable",
        data: function () {
            return {
                products: [],
                wishCount: 3,
                currency: "",
                timestamp: 0,
                showSplit: false,
                showFavorites: false,
                favorites: []
            }
        },
        created: function () {
            let favorites = localStorage.getItem("favorites");
            if (favorites != null) {
                this.favorites = JSON.parse(favorites);
            }
            this.fetchData();
        },
        methods: {
            generateClass: function (number, prefix,  countDown = false) {
                number = countDown ? this.wishCount - number : number + 1;
                return `${prefix} ${prefix}-${number}`;
            },
            generateColor: (price, referencePrice) => {
                return {
                    low: referencePrice > price,
                    med: referencePrice == price,
                    high: referencePrice < price,
                }
            },
            forgeWishList: function (fullList, emptyFirst = false) {
                let self = this;
                let list = fullList
                if (self.showSplit) {
                    list = fullList.filter(function (elem) {
                            return elem.allow_split;
                    });
                }
                let length = list.length;
                if (length >= this.wishCount) return list.slice(0, 3);
                if (length === 0) list = [];
                if (emptyFirst) {
                    for (let i = 0; i < 3 - length; i++) {
                        list.unshift({
                            price: "",
                            quantity: ""
                        })
                    }
                } else {
                    for (let i = 0; i < 3 - length; i++) {
                        list.push({
                            price: "",
                            quantity: ""
                        })
                    }
                }
                return list;
            },
            fetchData: function () {
                window.loadingScreen();
                let self = this;
                let url = `${window.location.origin}/api/products`;
                axios.get(url).then((response) =>{
                    let data = response.data.data;
                    self.products = data.products;
                    self.currency = data.currency;
                    self.timestamp = data.timestamp;
                    window.loadingScreen(false);
                }).catch((err) => {
                    window.loadingScreen(false);
                    caches.match(url).then(function (response) {
                        if (response) {
                            response.json().then(function (json) {
                                let data = json.data;
                                self.products = data.products;
                                self.currency = data.currency;
                                self.timestamp = data.timestamp;
                            });
                        }
                    });
                });
            },
            toggleFavorite: function (id) {
                let index = this.favorites.indexOf(id);
                if ( index > -1 ) {
                    this.favorites.splice(index, 1);
                } else {
                    this.favorites.push(id);
                }
                localStorage.setItem('favorites', JSON.stringify(this.favorites));
            },
        }
    }
</script>

<style scoped>
    .display-option > span {
        margin-right: 10px;
        display: block;
    }
    .high {
        color: #1bd006;
        /*color: black;*/
    }
    .med {
        color: #3722d8;
    }
    .low {
        color: red;
    }
    .fa-star {
        cursor: pointer;
        color: #268226;
    }
    .fa-sync {
        cursor: pointer;
    }
    .product {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 2fr repeat(5, 1fr);
        padding: 0;
        border: none;
        border-left: 1px solid black;
        font-size: 90%;
    }
    .product:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .product > * {
        padding: 0 5px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
    .product-name.title, .reference-price.title, .highest-price.title, .lowest-price.title {
        grid-row: auto/ span 2;
    }
    .matched-prices.title {
        grid-column: auto/ span 2;
    }
    .reference-price, .highest-price, .lowest-price,
    .buy-price, .sell-price, .quantity-buy-price, .quantity-sell-price, .matched-price, .quantity-matched-price {
        font-weight: bold;
    }
    .highest-price, .lowest-price,
    .buy-price-3, .quantity-buy-price-3, .buy-price-2, .quantity-buy-price-2,
    .sell-price-3, .quantity-sell-price-3, .sell-price-2, .quantity-sell-price-2,
    .quantity-buy-price-1, .quantity-sell-price-1{
        display: none;
    }
    @media screen and (min-width: 768px){
        .product {
            font-size: 100%;
        }
        .display-option > span {
            display: initial;
        }
        .product {
            grid-template-columns: 2fr repeat(9, 1fr);
        }
        .buy-prices.title, .sell-prices.title {
            grid-column: auto/ span 2;
        }
        .highest-price, .lowest-price,
        .quantity-buy-price-1, .quantity-sell-price-1{
            display: block;
        }
    }
    @media screen and (min-width: 1024px){
        .product {
            grid-template-columns: 2fr repeat(13, 1fr);
        }
        .buy-prices.title, .sell-prices.title {
            grid-column: auto/ span 4;
        }
        .highest-price, .lowest-price,
        .buy-price-2, .quantity-buy-price-2,
        .sell-price-2, .quantity-sell-price-2,
        .quantity-buy-price-1, .quantity-sell-price-1{
            display: block;
        }
    }
    @media screen and (min-width: 1200px){
        .product {
            grid-template-columns: 2fr repeat(17, 1fr);
        }
        .product-table .title {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .product-name.title, .reference-price.title, .highest-price.title, .lowest-price.title {
            grid-row: auto/ span 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .buy-prices.title, .sell-prices.title {
            grid-column: auto/ span 6;
        }
        .matched-prices.title {
            grid-column: auto/ span 2;
        }
        .buy-price-3, .quantity-buy-price-3,
        .sell-price-3, .quantity-sell-price-3 {
            display: block;
        }
    }

</style>