<template>
    <span class="rating-input">
        <input class="rating" type="number" name="rating" v-model="value"/>
        <span class="rating-star">
            <template  v-for="i in 5">
                <i class="star fas fa-star" :class="generateClass(i)" v-on:click="clickHandler($event)" :data-point="i"></i>
            </template>
        </span>
    </span>
</template>

<script>
    export default {
        name: "RatingInput",
        props: {
            point: {
                type: Number,
                default: 0
            }
        },
        data: function () {
            return {
                value: this.point
            }
        },
        methods: {
            clickHandler: function (event) {
                this.value = event.target.dataset.point;
            },
            generateClass: function (point) {

                if ( point <= this.value ) {
                    return "active";
                }
            }
        }
    }
</script>

<style scoped>
    .star {
        color: #AAAAAA;
        cursor: pointer;
        font-size: 20px;
    }
    .star.active {
        color: #ffee00;
        text-shadow: 0px 0px 1px #000;
    }
    .rating-star {
        display: none;
    }
    .rating {
        width: 100%;
    }
    @media screen and (min-width: 768px){
        .rating {
            display: none;
        }
        .rating-star {
            display: initial;
        }
    }
    
</style>