<template>
    <div class="container">
        <form method="get" v-on:submit="getStatistic($event)">
            <div class="row">
                <div class="col-4 text-right">
                    <label>Chuyên mục</label>
                </div>
                <div class="col-8">
                    <select name="type" v-model="selectedType">
                        <template v-for="type in types">
                            <option :value="type.value">
                                {{ type.name }}
                            </option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="row" v-if="selectedType == 'price'">
                <div class="col-4 text-right">
                    <label>Sản phẩm</label>
                </div>
                <div class="col-8">
                    <select name="product">
                        <template v-for="product in products">
                            <option :value="product.id">
                                {{ product.name }}
                            </option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-right">
                    <label>Thời gian</label>
                </div>
                <div class="col-8">
                    <input type="date" name="date-from"/> -
                    <input type="date" name="date-to"/>
                </div>
            </div>
            <div class="row">
                <div class="offset-4 col-8">
                    <button type="submit">Tra cứu</button>
                </div>
            </div>
        </form>
        <GChart
                type="LineChart"
                :data="chart.data"
                :options="chart.options"
        />
    </div>
</template>

<script>
    export default {
        name: "Statistic",
        data: function(){
            return {
                types: [
                    {
                        name: "Giá sản phẩm",
                        value: "price",
                    },
                    {
                        name: "Nguyện vọng",
                        value: "wish",
                    },
                    {
                        name: "Giao dịch",
                        value: "trade",
                    }
                ],
                selectedType: "price",
                products: [],
                chart: {
                    data: [
                        ['Ngày', 'Giá trị'],
                        [(new Date).toDateString(), 0]
                    ],
                    options: {
                        title: "",
                        height: 300,
                        legend: {
                            position: "bottom"
                        },
                    }
                }
            }
        },
        created: function(){
            let self = this;
            let url = `${window.location.origin}/api/product-list`;
            axios.get(url).then(response => {
                self.products = response.data.products;
            });
        },
        methods: {
            getStatistic(event) {
                event.preventDefault();
                let self = this;
                let input = jQuery(event.target).serializeArray();
                let data = {};
                input.forEach((item) => {
                    data[item.name] = item.value;
                });
                let url = `${window.location.origin}/api/statistic?`+$.param(data);
                axios.get(url).then(response => {
                    self.chart.data = response.data;
                })
            }
        }
    }
</script>

<style scoped>

</style>