<template>
    <div class="content">
        <section class="wishlist-container">
            <h1>Danh sách nguyện vọng</h1>
            <p>Chú thích:</p>
            <ul>
                <li>Số lượng: (200) - 200 không chia nhỏ </li>
            </ul>
            <div class="grid-table wish-history">
                <div class="wish-item">
                    <div class="wish-type title">Loại</div>
                    <div class="wish-product title">Sản phẩm</div>
                    <div class="wish-date title">Ngày tạo</div>
                    <div class="wish-price title">Giá</div>
                    <div class="wish-quantity title">Hoàn thành</div>
                    <div class="wish-status title">Trạng thái</div>
                    <div class="wish-action title">Thao tác</div>
                </div>
                <div class="wish-item" v-for="(wish, index) in wishList" tabindex="-1" :id="'wish'+wish.id">
                    <div :class="generateClass(index, `wish-type` , wish.id)">{{ translate(wish.type) }}</div>
                    <div :class="generateClass(index, `wish-product`, wish.id)">{{ wish.product.name }}</div>
                    <div :class="generateClass(index, `wish-date`, wish.id)">{{ wish.created_at }}</div>
                    <div :class="generateClass(index, `wish-price`, wish.id)">{{ wish.price }}</div>
                    <div :class="generateClass(index, `wish-quantity`, wish.id)" class="wish-progress-bar">
                        <div class="progress-bar" :style="{width: ((wish.total - wish.quantity)/wish.total*100)+'%'}"></div>
                        <template v-if="wish.allow_split">
                            {{ wish.total - wish.quantity }} / {{ wish.total }}
                        </template>
                        <template v-else>
                            ({{ wish.total - wish.quantity }} / {{ wish.total }})
                        </template>
                    </div>
                    <div :class="generateClass(index, `wish-status`, wish.id)">{{ translate(wish.status) }}</div>
                    <div class="wish-actions">
                        <template v-if="computeDisplay(actions.POSTPONE, wish.status)">
                            <form method="post"
                                  v-on:submit="submitAction($event)"
                                  :action="'/api/wish-item/' + wish.id">
                                <input type="hidden" name="_method" value="patch"/>
                                <input type="hidden" name="status" :value="actions.POSTPONE"/>
                                <button class="wish-action postpone" title="Hoãn khớp lệnh"><i class="fas fa-pause"></i></button>
                            </form>
                            <span class="separator">|</span>
                        </template>
                        <template v-if="computeDisplay(actions.CONTINUE, wish.status)">
                            <form method="post"
                                  v-on:submit="submitAction($event)"
                                  :action="'/api/wish-item/' + wish.id">
                                <input type="hidden" name="_method" value="patch"/>
                                <input type="hidden" name="status" :value="actions.CONTINUE"/>
                                <button class="wish-action continue" title="Tiếp tục khớp lệnh"><i class="fas fa-play"></i></button>
                            </form>
                            <span class="separator" >|</span>
                        </template>
                        <template v-if="computeDisplay(actions.ABORT, wish.status)">
                            <form method="post"
                                  v-on:submit="submitAction($event)"
                                  :action="'/api/wish-item/' + wish.id">
                                <input type="hidden" name="_method" value="delete"/>
                                <button class="wish-action abort" title="Hủy khớp lệnh"><i class="fas fa-times" ></i></button>
                            </form>
                            <span class="separator">|</span>
                        </template>
                    </div>
                </div>
            </div>
        </section>

        <section class="tradelist-container">
            <h1>Danh sách giao dịch</h1>
            <div class="grid-table trade-history">
                <div class="trade-type title">Loại</div>
                <div class="trade-partner title">Đối tác</div>
                <div class="trade-product title">Sản phẩm</div>
                <div class="trade-price title">Giá</div>
                <div class="trade-quantity title">Số lượng</div>
                <div class="trade-status title">Trạng thái</div>
                <div class="trade-action title">Thao tác</div>
                <div class="trade-matched title">Ngày khớp lệnh</div>
                <div class="trade-created title">Ngày cập nhật</div>
                <template v-for="trade in tradeList">
                    <div class="trade-type">{{ translate(trade.type) }}</div>
                    <div class="trade-partner">
                        <p><strong>{{ trade.partner.name }}</strong></p>
                        <p>Uy tín: {{ trade.partner.rating == null ? "--" : trade.partner.rating }}/5</p>
                        <p class="email">Email: {{ trade.partner.email }}</p>
                        <p>SĐT: {{ trade.partner.phone }}</p>

                    </div>
                    <div class="trade-product">
                        <p>{{ trade.product.name }}</p>
                        <p class="trade-info">Giá: {{ trade.price }}</p>
                        <p class="trade-info">SL: {{ trade.quantity }}</p>
                    </div>
                    <div class="trade-price">{{ trade.price }}</div>
                    <div class="trade-quantity">{{ trade.quantity }}</div>
                    <div class="trade-status">{{ translate(trade.status) }}</div>
                    <div class="trade-actions">
                        <div v-if="computeDisplay(null, trade.status) && trade.rating != null">
                            <i class="rated fas fa-star" v-for="i in trade.rating"></i>
                        </div>
                        <div>
                            <a :href="'#wish'+trade.wish_id">
                                <button class="wish-action bullseye">
                                    <i class="fas fa-bullseye"></i>
                                </button>
                            </a>
                            <span class="separator">|</span>
                            <template v-if="computeDisplay(actions.ABORT, trade.status)">
                            <form method="post"
                                  v-on:submit="submitAction($event)"
                                  :action="'/api/trade-log/' + trade.id">
                                <input type="hidden" name="_method" value="patch"/>
                                <input type="hidden" name="status" value="abort"/>
                                <button class="wish-action abort" title="Hủy giao dịch">
                                    <i class="fas fa-times" ></i>
                                </button>
                            </form>
                            <span class="separator">|</span>
                        </template>
                        </div>
                        <div v-if="computeDisplay(actions.COMPLETE, trade.status) && trade.rating == null">
                            <form method="post"
                                  v-on:submit="submitAction($event)"
                                  :action="'/api/trade-log/' + trade.id">
                                <input type="hidden" name="_method" value="patch"/>
                                <input type="hidden" name="status" value="completed"/>
                                <rating-input></rating-input>
                                <button>Đánh giá</button>
                            </form>
                            <span class="separator">|</span>
                        </div>
                    </div>
                    <div class="trade-created">{{ trade.matched_at }}</div>
                    <div class="trade-matched">{{ trade.updated_at }}</div>
                </template>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "WishHistory",
        data: function () {
            return {
                wishList: [],
                tradeList: [],
                accessToken: '',
                status: {
                    ABORT: "abort",
                    COMPLETED: "completed",
                    MATCHED: "matched",
                    POSTPONE: "postpone",
                    PROCESSING: "processing",
                    QUEUE: "queue",
                },
                actions: {
                    POSTPONE: "postpone",
                    ABORT: "abort",
                    CONTINUE: "processing",
                    COMPLETE: "completed",
                },
            };
        },
        computed: {
            actionList: function(){
                let actionList = {};
                actionList[this.status.ABORT] = [];
                actionList[this.status.COMPLETED] = [null, this.actions.COMPLETE];
                actionList[this.status.MATCHED] = [this.actions.COMPLETE, this.actions.ABORT];
                actionList[this.status.POSTPONE] = [this.actions.CONTINUE, this.actions.ABORT];
                actionList[this.status.PROCESSING] = [this.actions.POSTPONE, this.actions.ABORT];
                actionList[this.status.QUEUE] = [];
                return actionList;
            }
        },
        created: function() {
            window.loadingScreen();
            this.fetchData();
            window.loadingScreen(false);
        },
        methods: {
            generateClass: function(index, prefix, postfix){
                let evenClass = index % 2 == 0 ? "even" : "odd";
                return `${prefix} ${prefix}-${postfix} ${evenClass}`
            },
            computeDisplay: function(action, status) {
                return this.actionList[status].indexOf(action) > -1;
            },
            submitAction: function(event){
                event.preventDefault();
                window.loadingScreen();
                let self = this;
                let form = event.target;
                let input = jQuery(form).serializeArray();
                let data = {};
                input.forEach((item) => {
                    data[item.name] = item.value;
                });
                axios({
                    method: $(form).children("[name=_method]").val(),
                    url: form.action,
                    data: data,
                    headers: {
                        Authorization: `Bearer ${this.accessToken}`
                    },
                }).then(response => {
                    self.fetchData();
                    window.loadingScreen(false);
                    window.popNotification(response.data.message);
                }).catch(err => {
                    window.loadingScreen(false);
                    console.log(err.response);
                    if (err.response === undefined) {
                        window.popNotification("Không có kết nối mạng.");
                        return;
                    }
                    window.popNotification(err.response.data.message);
                });
            },
            fetchData: function(){
                let self = this;
                let url = `${window.location.origin}/api/history`;
                this.accessToken = getCookiesAsJson().access_token;
                axios.get(url, {
                    headers: {
                        Authorization: `Bearer ${this.accessToken}`
                    }
                }).then((response) => {
                    let data = response.data;
                    self.wishList = data.wish;
                    self.tradeList = data.trade;
                }).catch((err) => {
                    if (err.response.status !== 401) {
                        caches.match(url).then(response => {
                            if (response) {
                                response.json().then(json => {
                                    let data = json.data;
                                });
                            }
                        }).catch((err) => {
                            self.name = "Data not found";
                        });
                    } else {
                        window.deleteCookie("access_token");
                        this.$parent.status = -1;
                        return;
                    }
                });
            },
            translate: function (text) {
                return window.translate(text);
            },
        }
    }
</script>

<style scoped>
    p {
        margin-bottom: 2px;
    }
    p.email {
        word-break: break-all;
    }
    .rated {
        font-size: 15px;
        color: #ffee00;
        text-shadow: 0px 0px 1px #000;
    }
    .wish-item {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(7, 1fr);
    }
    .wish-item > * {
        padding: 2px;
    }
    .wish-item > *:not(:last-child) {
        border-right: 1px solid black;
    }
    .wish-item .wish-date, .wish-item .wish-status {
        display: none;
    }
    .wish-item .wish-product, .wish-item .wish-actions {
        grid-column: auto/ span 2;
    }
    .trade-history {
        grid-template-columns: 1fr 2fr 2fr 2fr;
    }
    .trade-history .trade-created, .trade-history .trade-matched, .trade-history .trade-status,
    .trade-history .trade-price, .trade-history .trade-quantity{
        display: none;
    }
    .wish-actions form, .trade-actions form {
        display: inline;
    }
    .separator {
        display: none;
    }
    @media screen and (min-width: 768px) {
        .rated {
            font-size: 20px;
        }
        .trade-history {
            grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr 3fr;
        }
        .trade-history .trade-matched {
            display: block;
        }
        .trade-history .trade-product .trade-info {
            display: none;
        }
        .trade-history .trade-price, .trade-history .trade-quantity {
            display: block;
        }
    }
    @media screen and (min-width: 1200px) {
        .wish-item {
            grid-template-columns: repeat(10, 1fr);
        }
        .wish-item .wish-date, .wish-item .wish-status {
            display: block;
        }
        .wish-item .wish-product, .wish-item .wish-date, .wish-item .wish-actions {
            grid-column: auto/span 2;
        }
        form {
            display: inline;
        }
        .separator {
            display: inline;
        }
        .separator:last-child {
            display: none;
        }
        .trade-history {
            grid-template-columns: 1fr 3fr 1fr 1fr 1fr 2fr 2fr 2fr 2fr;
        }
        .trade-history .trade-status, .trade-history .trade-created  {
            display: block;
        }
    }
    @keyframes row-focus {
        from {background-color: rgba(38, 130, 38, 0.5);}
        to {background-color: transparent;}
    }
    .wish-item:focus {
        animation: row-focus;
        animation-duration: 2s;
    }
</style>