<template>
    <div class="wish-table" :class="wishType">
        <div class="wish-title">{{getTitle()}}</div>
        <div class="grid-table">
            <div class="wish-item">
                <div class="wish-price title">Giá</div>
                <div class="wish-quantity title">Số lượng</div>
                <div class="wish-time title">Thời gian</div>
            </div>
            <div v-if="noData">
                <div class="no-data">Không có dữ liệu.</div>
            </div>
            <div class="wish-item wish-progress-bar"
                 :class="{
                    disable: wish.status == 'suspend' || wish.status == 'postpone',
                 }"
                 v-else v-for="wish in this.wishList">
                <div class="progress-bar" :style="{width: ((wish.total - wish.quantity)/wish.total*100)+'%'}"></div>
                <div class="wish-price">{{wish.price}}</div>
                <div class="wish-quantity">
                    <template v-if="wish.allow_split">
                        {{wish.total - wish.quantity}} / {{wish.total}}
                    </template>
                    <template v-else>
                        ({{wish.total - wish.quantity}} / {{wish.total}})
                    </template>
                </div>
                <div class="wish-time">{{wish.created_at}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "WishTable",
        props: {
            wishType: {
                type: String,
                default: "buy"
            },
            wishData: {
                type: Array,
                default: []
            },
            fromParent: {
                type: Boolean,
                default: false,
            }
        },
        data: function() {
            return {
                wishList: [],
            };
        },
        watch: {
            wishData: function(newVal) {
                this.wishList = newVal;
            }
        },
        computed: {
            noData: function () {
                if (this.wishList === undefined) {
                    return true;
                } else {
                    return this.wishList.length === 0;
                }
            }
        },
        methods: {
            getTitle: function() {
                if (this.wishType == "buy") return "Mua";
                return "Bán";
            }
        }
    }
</script>

<style scoped>
    .wish-table {
        grid-column: auto/ span 1;
    }
    .wish-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
    .wish-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    .no-data {
        grid-column: auto/ span 4;
    }
    .wish-time {
        grid-column: auto/ span 2;
    }
</style>